[Unit]
Description=HappyServ Certificate Renewal Timer

[Timer]
OnCalendar=weekly
Persistent=true
RandomizedDelaySec=3600

[Install]
WantedBy=timers.target
