[Unit]
Description=HappyServ Daily Backup Timer
Requires=happyserv-backup-daily.service

[Timer]
OnCalendar=daily
Persistent=true
RandomizedDelaySec=1800

[Install]
WantedBy=timers.target
